/*! utils*/
.pointer {
  cursor: pointer;
}

/* body */
.body-bg {
  background: linear-gradient(#009688 0 0) top,
    linear-gradient(#d8dbd6, #d2dbdc 0 0) bottom;

  background-size: 100% 20%, 100% 80%;

  background-repeat: no-repeat;
}

/* main-box */
.box {
  background-color: #fff;
  min-width: 80%;
}

.contacts {
  border-right: 1px solid #000;
}

/* contact */
.contact,
.contact img {
  max-height: 70px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 0;
}

/* header */
.top-bar {
  background-color: #eaeaea;
  height: 100px;
  min-height: 100px;
  line-height: 100px;
}

#buttons i {
  margin: 10px;
  color: #b1b1b1;
}

/* notification */
.notification {
  background-color: #8edafc;
  height: 80px;
}

.notification i {
  color: #8edafc;
  background-color: #fff;
}

.search {
  border: 0;
  padding-left: 50px;
}

.search-bar {
  position: relative;
  background-color: #eaeaea;
}

.search-bar .fa-search {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

/*! CHAT */
/* chat list */

#chats li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
}

.chatlist:hover {
  background-color: #eaeaea;
}

.selected {
  background-color: #eaeaea;
}

.chatbox {
  background-image: url(../img/mine.jpg);
}

.text-input {
  height: 80px;
  background-color: #eaeaea;
}

footer .search {
  height: 50px;
}

/* message box */
.chatbox li {
  list-style-type: none;
}

.message-box {
  display: flex;
  margin: 10px 0;
}

.message {
  border-radius: 10px;
  max-width: 300px;
}

.message-box.sent {
  justify-content: flex-end;
}

.message-box.received {
  justify-content: flex-start;
}

.message-box.sent .message {
  background-color: #d5f9ba;
  margin-right: 2rem;
}

.message-box.received .message {
  background-color: #fff;
}

.message-box .message p {
  margin-bottom: 0;
}

.message-box .message time {
  display: block;
  text-align: right;
  font-size: 11px;
  color: #b1b1b1;
}

#buttons i:hover,
u:hover {
  color: #0a0f12;
}

footer i:hover {
  color: #a1a1a1;
}

/*!! - DARK MODE - !! */

.dark.body-bg {
  background: linear-gradient(#0a0f12 0 0);
  color: #b1b1b1;
}

.dark .box {
  background-color: #141d22;
}

.dark .top-bar {
  background-color: #141d22;
}

.dark .text-input {
  background-color: #141d22;
}

.dark .notification {
  background-color: #095474;
}

.dark .notification i {
  color: #095474;
  background-color: #8eb2be;
}

.dark .search-bar {
  background-color: #141d22;
}

.dark .search-bg {
  background-color: #33383a;
  color: #fff;
}

.dark .chatbox {
  background-image: url(../img/mine-dark.jpg);
}

.dark .sent .message {
  background-color: #066263;
  margin-right: 2rem;
}

.dark .received .message {
  background-color: #272e32;
}

.dark .chatlist:hover {
  background-color: #33383a;
}

.dark .selected {
  background-color: #33383a;
}

.dark .text-bg {
  background-color: #33383a;
}

.dark #buttons i:hover,
.dark footer i:hover,
.dark u:hover {
  color: #fff;
}
